<h3>Q1</h3>
<b> Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

# open txt file
text_file = open("test.txt", "w")
 
# write string to file
text_file.write(test1)
 
#close file
text_file.close()

<h3>Q2</h3>
<b>Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test_2 = open("test.txt", "r")

print(test_2.read())

test_2.close()

This is a test of the emergency text system

<pre>
In test1 we are writing the tdata to the txt file
whereas
In test2 we are reading the data present within the txt file

<h3>Q3</h3>
<b>Create a CSV file called books.csv by using these lines:

<pre>
<b>title,author,year</b>
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [19]:
# Reading the same csv file
import csv
import pandas as pd
books = pd.read_csv('books.csv', sep=',')
books

  The Weirdstone of Brisingamen      Alan Garner  1960
0        Perdido Street Station   China Miéville  2000
1                         Thud!  Terry Pratchett  2005
2            The Spellman Files        Lisa Lutz  2007
3                    Small Gods  Terry Pratchett  1992